apturl
bcrypt
blinker
brlapi
certifi
chardet
click
colorama
command-not-found
cryptography
cupshelpers
dbus-python
defer
distro
distro-info
django-bootstrap-v5
django-heroku
django-on-heroku
django-phone-field
django-phonenumber-field
djangorestframework
duplicity
fasteners
gunicorn
gyp
idna
importlib-metadata
language-selector
launchpadlib
lockfile
louis
macaroonbakery
mako
markupsafe
monotonic
more-itertools
netifaces
oauthlib
olefile
paramiko
pexpect
phonenumberslite
pip-chill
protobuf
pycups
pygobject
pyjwt
pymacaroons
pynacl
pyrfc3339
python-apt
python-dateutil
python-debian
pyxdg
pyyaml
requests
simplejson
systemd-python
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
urllib3
usb-creator
virtualenvwrapper
virtualenvwrapper-win
xdg
xhtml2pdf
xkit
zipp
