.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.485571;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.946777;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.959961;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._5{width:123.008000px;}
._2{width:203.320000px;}
._1{width:336.560000px;}
._3{width:794.360000px;}
._0{width:1090.960000px;}
._4{width:1407.160000px;}
.fc2{color:rgb(255,255,255);}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(47,128,195);}
.fs1{font-size:40.000000px;}
.fs2{font-size:48.000000px;}
.fs0{font-size:80.000000px;}
.y0{bottom:0.000000px;}
.y1{bottom:0.300000px;}
.ya{bottom:215.000000px;}
.y9{bottom:232.400000px;}
.y8{bottom:545.600000px;}
.y7{bottom:571.500000px;}
.y6{bottom:596.100000px;}
.y5{bottom:645.300000px;}
.y4{bottom:647.300000px;}
.y3{bottom:668.500000px;}
.y2{bottom:736.300000px;}
.h3{height:30.000000px;}
.h4{height:36.000000px;}
.h2{height:81.840000px;}
.h1{height:841.600000px;}
.h0{height:842.000000px;}
.w0{width:595.000000px;}
.x0{left:0.000000px;}
.x1{left:72.100000px;}
.x4{left:75.000000px;}
.x3{left:217.800000px;}
.x5{left:344.700000px;}
.x2{left:359.300000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._5{width:164.010667pt;}
._2{width:271.093333pt;}
._1{width:448.746667pt;}
._3{width:1059.146667pt;}
._0{width:1454.613333pt;}
._4{width:1876.213333pt;}
.fs1{font-size:53.333333pt;}
.fs2{font-size:64.000000pt;}
.fs0{font-size:106.666667pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:0.400000pt;}
.ya{bottom:286.666667pt;}
.y9{bottom:309.866667pt;}
.y8{bottom:727.466667pt;}
.y7{bottom:762.000000pt;}
.y6{bottom:794.800000pt;}
.y5{bottom:860.400000pt;}
.y4{bottom:863.066667pt;}
.y3{bottom:891.333333pt;}
.y2{bottom:981.733333pt;}
.h3{height:40.000000pt;}
.h4{height:48.000000pt;}
.h2{height:109.120000pt;}
.h1{height:1122.133333pt;}
.h0{height:1122.666667pt;}
.w0{width:793.333333pt;}
.x0{left:0.000000pt;}
.x1{left:96.133333pt;}
.x4{left:100.000000pt;}
.x3{left:290.400000pt;}
.x5{left:459.600000pt;}
.x2{left:479.066667pt;}
}
