{% load static %}
{% load bootstrap5 %}
<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Home - StackMoney</title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
    <link href="{% static 'assets/css/style.css' %}" rel='stylesheet'>
    <link href="{% static 'assets/bootstrap-icons/bootstrap-icons.css' %}" rel='stylesheet'>

</head>

<body>

    <nav class="navbar" style="background-color: #4723d9;">
        <div class="container-fluid text-center">

            <a class="navbar-brand center text-white" href="#" style="text-decoration: none;">
                <i class='bx bx-layer nav_logo-icon'></i>
                StackMoney
            </a>

            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <button type="button" class="btn btn-primary">Sign Up</button>

                    <button type="button" class="btn btn-primary">Log In</button>
                </li>
            </ul>

        </div>
    </nav>

    <div class="cotainer">
        <div class="col-6 center">
            <h3 style="margin-top: 10%;">Sign Up</h3>

            <form method="POST" action="signup">
                {% csrf_token %}
                {% bootstrap_messages %}

                {% bootstrap_form form %}


                <div id="emailHelp" class="form-text pb-2">I already have an account <a href="/">Log In</a>.</div>

                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>

</body>

</html>